form.text-center('name'='newPasswordForm' '(ngSubmit)'="updatePassword()")
  .login_form
    .row
      .col-lg-12
        .text-center.col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-8.col-xs-offset-2
          img.img-responsive.logo-img(src="/assets/img/logo.png" alt="knauf_logo")
        .col-lg-12.message(*ngIf='messages[reason]') {{messages[reason]}}
        .form-group
          input#inputEmai.form-control.question(type="password"  placeholder='Enter new password.' 'name'='password' '[(ngModel)]'='data.password')
        .form-group
          input#inputPassword.form-control(type="password" placeholder='Re-Enter new password.' 'name'='cpassword' '[(ngModel)]'='data.cpassword')
        .col-sm-12
          .form-group
            .text-right
              button.btn_submit.pull-right.login(type="submit" '*ngIf'='!(showLoader)') Update
              button.btn_submit.pull-right.login(type="button" '*ngIf'='showLoader') Please wait!
        .col-sm-12 &nbsp;